/* styles.css */

/* Resetting default margins and paddings */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

a {
    color: #00950c; /* Change the color to the green used in your webpage */
}

/* Applying default font and background */
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #f6f6f6;
    color: #333;
    position: relative; /* Added for positioning the GitHub button */
}

/* Container for the whole page */
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Header styles */
header {
    text-align: center;
    margin-bottom: 30px;
}

header h1 {
    color: #00950c;
    font-weight: bold;
    font-size: 80px;
    margin-bottom: 10px;
}

/* Section styles */
section {
    margin-bottom: 30px;
}

h2 {
    color: #00950c;
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    line-height: 1.6;
}

/* Footer styles */
footer {
    text-align: center;
    margin-top: 30px;
}

footer p {
    font-size: 14px;
    color: #888;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #222;
    color: #fff;
}

.container.dark-mode {
    background-color: #333;
    color: #fff;
}

.dark-mode-toggle {
    position: fixed;
    bottom: 80px;
    right: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dark-mode-toggle:hover {
    background-color: #555;
}

.download-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #00950c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.download-button a {
    text-decoration: none;
    color: #fff;
}

.download-button:hover {
    background-color: #006108;
}

/* GitHub button styles */
.github-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 10px;
    background-color: #333;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000; /* Ensure GitHub button appears above other content */
}

.github-button img {
    width: 30px;
    height: 30px;
}

/* Navigation bar styles */
nav.nav-links a {
    text-decoration: none;
    color: #00950c; /* Set navigation text color */
    font-weight: bold;
    margin: 0 15px; /* Increased margin for better spacing */
}

nav.nav-links a:hover {
    text-decoration: underline;
}
